.switcher {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
  background-color: #f1f1f2;
  cursor: pointer;
  border-radius: 20px;

  & input {
    display: none;
  }
}

.switcher__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    width: 47px;
    height: 35px;
    background-color: #fff;
    border-radius: 20px;
    transition: transform 0.4s ease;
  }
}

.switcher .material-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.material-icons.switcher__icon-list {
  right: 14px;
  color: #c9c8cd;
  font-size: 20px;
}

.material-icons.switcher__icon-grid {
  left: 14px;
  color: #302f31;
  font-size: 26px;
}

#switcher__input:checked ~ .switcher__slider::before {
  transform: translate(37px, -50%);
}

#switcher__input:checked ~ .switcher__icon-list {
  color: #302f31;
  font-size: 24px;
}
.material-icons {
  transition: 0.3s ease;
}

#switcher__input:checked ~ .switcher__slider span {
  color: #c9c8cd;
  font-size: 20px;
}
