* {
  box-sizing: border-box;
}

$screen-width: 1100px;
$laptop-width: 800px;
$mobile-width: 450px;

@mixin media-screen {
  @media (max-width: $screen-width) {
    @content;
  }
}
@mixin media-laptop {
  @media (max-width: $laptop-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #262626;
  font-size: 16px;
  background-color: #faf9f8;
}

h1 {
  display: inline-block;
  margin-right: 5px;
}

.header__text {
  color: #6e6d73;
  font-size: 16px;
}

button {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1295px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
}

.main {
  padding-top: 35px;
  @include media-laptop {
    padding-top: 0;
  }
}

.main__block {
  display: flex;
  @include media-laptop {
    flex-direction: column;
  }
}

.main__column:first-child {
  flex: 320px 0 0;
}

.main__column:last-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

//Cards
.cards {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 60px;
  @include media-laptop {
    padding-top: 15px;
  }
}

.cards.list-mode {
  padding-top: 30px;
}

.cards__column {
  width: calc(100% / 4);
  padding: 10px 10px 25px;
  display: flex;
  @include media-screen {
    width: calc(100% / 2);
  }
  @include media-mobile {
    padding-top: 15px;
    width: 100%;
  }
}

.list-mode .cards__column {
  width: 100%;
  padding: 40px 10px;
  @include media-screen {
    padding: 20px 10px;
    width: 100%;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-mode .card {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  @include media-screen {
    flex-direction: column;
  }
}

.card__image {
  width: 100%;
  max-width: 145px;
  margin: 0 auto 15px;

  & img {
    width: 100%;
    height: auto;
  }
}

.list-mode .card__image {
  max-width: 145px;
  width: 30%;
  margin: 0;
  margin-right: 90px;
  align-self: center;
  @include media-screen {
    margin: 0 20px 15px 0;
    width: 100%;
  }
  @include media-mobile {
    margin: 0 20px 15px 0;
    width: 100%;
  }
}

.card__content {
  flex-grow: 1;
}

.list-mode .card__content {
  flex-grow: 1;
  align-self: center;

  & p {
    max-width: 245px;
    font-size: 14px;
  }

  & .card__title {
    font-size: 16px;
  }
  @include media-screen {
    align-self: flex-start;
  }
}

.card__title {
  font-weight: 500;
  margin: 0 0 15px;
}

.card__price {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card__btn {
  color: #fff;
  padding: 10px 20px;
  background-color: #d90029;
  border: 1px transparent;
  border-radius: 5px;
  @extend %center;
  align-self: flex-start;

  & span:first-child {
    margin-right: 5px;
  }
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-mode .card__container {
  @include media-screen {
    width: 100%;
  }
}

.card__list {
  padding: 0;
  font-size: 14px;
}

.list-mode .card__list {
  display: block;
  padding: 0;
  font-size: 14px;
}
.card__item {
  list-style: none;

  & span {
    font-weight: 700;
  }
}

//Filters
.form__item {
  position: relative;
  margin-bottom: 30px;

  &:after {
    display: block;
    content: '';
    width: 95%;
    border-bottom: 2px solid #e4e3eb;
    padding-top: 10px;
  }
  @include media-laptop {
    margin-bottom: 15px;
  }
}

.form__input {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form__title {
  font-size: 18px;
  margin: 0 0 25px;
}

.form__text {
  color: #7f7e83;
  font-size: 14px;
}

.btn-expand {
  background-color: transparent;
  @extend %center;
  position: absolute;
  top: -5px;
  right: 15px;
  transition: 0.2s ease;
  transform: rotate(180deg);

  & span {
    color: #9c9aa3;
    transition: 0.4s ease;
    font-size: 30px;
  }
}

.btn-expand.active {
  transform: rotate(0deg);
}

.btn-expand:hover span {
  color: #59565a;
}

//checkbox
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin-right: 5px;
}
.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #b0aeb8;
  border-radius: 3px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: 0.4s ease;
}

.custom-checkbox:checked + label::before {
  background-image: url(./assets/icons/checkmark.svg);
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #0f62fe;
}
.btn-input {
  color: #0f62fe;
  font-weight: 700;
  transition: 0.3s ease;
  border-bottom: 1px solid transparent;
  margin-bottom: 15px;
  padding-bottom: 5px;

  &:hover {
    border-bottom: 1px solid #0f62fe;
  }
}

.form__container {
  display: flex;
  align-items: center;
}

.input-text {
  max-width: 140px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #b0aeb8;
  transition: 0.3s ease;

  &:focus {
    outline: none;
    border: 2px solid #0f62fe;
  }
}

.form__input_min {
  position: relative;
  margin-right: 20px;
}

.form__input_min:before {
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  background-color: #b0aeb8;
  position: absolute;
  z-index: 2;
  right: -15px;
}

//Switcher
.main__switcher {
  margin-bottom: 30px;
}

.switcher {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
  background-color: #f1f1f2;
  cursor: pointer;
  border-radius: 20px;
  align-self: flex-end;

  & input {
    display: none;
  }
}

.switcher__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    width: 47px;
    height: 35px;
    background-color: #fff;
    border-radius: 20px;
    transition: transform 0.4s ease;
  }
}

.switcher .material-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.material-icons.switcher__icon-list {
  right: 14px;
  color: #c9c8cd;
  font-size: 20px;
}

.material-icons.switcher__icon-grid {
  left: 14px;
  color: #302f31;
  font-size: 26px;
}

#switcher__input:checked ~ .switcher__slider::before {
  transform: translate(37px, -50%);
}

#switcher__input:checked ~ .switcher__icon-list {
  color: #302f31;
  font-size: 24px;
}
.material-icons {
  transition: 0.3s ease;
}

#switcher__input:checked ~ .switcher__slider span {
  color: #c9c8cd;
  font-size: 20px;
}
